* {
	box-sizing: border-box;
}

// Global
@import "barekit/global/_mixins";
@import "barekit/global/_variables";
@import "barekit/global/_functions";
@import "barekit/global/_utility";

// Lib
@import "barekit/lib/_normalize";

// Module
@import "barekit/module/_accordion";
@import "barekit/module/_dropdown-nav";
@import "barekit/module/_form";
@import "barekit/module/_grid";
@import "barekit/module/_modal";
@import "barekit/module/_off-canvas";
@import "barekit/module/_tabs";
@import "barekit/module/_toggle";

// Flying Tile
@import "_vars"
@import "_mixins"

//Theme Modules
@import "_screenreader"
@import "_header"
@import "_nav"
@import "_footer"

